---
import Titulos from "../components/Titulos.astro"
import LayoutInicio from "../layouts/LayoutInicio.astro"
---

<LayoutInicio title="Proyectos">
  <section class="flex flex-col gap-4 mx-auto my-12">
    <header>
      <Titulos>Proyectos</Titulos>
    </header>
  </section>
</LayoutInicio>
