---
import Button from "./Button.astro"
---

<section class="flex flex-wrap justify-center md:justify-start my-12">
  <figure
    class="flex flex-wrap rounded-full overflow-hidden mx-6 md:max-w-[40%] max-h-[40%]"
  >
    <img
      src="/img/david_camara.webp"
      alt="Imagen de David Sánchez sacando un fotografia"
    />
  </figure>
  <section class="flex flex-col justify-center my-6">
    <div>
      <p>Hola! soy</p>
      <p class="text-5xl font-extrabold text-cyan-300">David Sánchez</p>
      <span>Fotógrafo, Video Editor y Animador</span>
    </div>
    <div class="my-6">
      <p>Mis redes sociales</p>
    </div>
    <Button
      down
      href="/cv/david-sanchez-cv-2023.PDF"
      download="David Sanchez CV"
    >
      Descarga mi CV
    </Button>
  </section>
</section>
