---
import Botton from "./Botton.astro"
---

<section class="flex flex-wrap justify-center md:justify-start">
  <figure
    class="flex flex-wrap rounded-full overflow-hidden mx-6 md:max-w-[50%]"
  >
    <img
      src="/img/david_camara.webp"
      alt="Imagen de David Sánchez sacando un fotografia"
    />
  </figure>
  <section class="flex flex-col justify-center my-6">
    <div>
      <p>Hola! soy</p>
      <p class="text-4xl font-extrabold text-cyan-500">David Sánchez</p>
      <span>Fotógrafo, Video Editor y Animador</span>
    </div>
    <div class="my-6">
      <p>Mis redes sociales</p>
    </div>
    <Botton>Descarga mi CV</Botton>
  </section>
</section>
