---
const pathname = new URL(Astro.request.url).pathname
const links = [
  {
    title: "Inicio",
    link: "/",
  },
  {
    title: "Proyectos",
    link: "/proyectos",
  },
  {
    title: "Experiencia",
    link: "/experiencia-laboral",
  },
]
---

<nav>
  <ul class="flex gap-4">
    {
      links.map(({ link, title }) => (
        <li
          class={
            pathname === link
              ? "text-cyan-300"
              : "hover:text-cyan-300 transition duration-300"
          }
        >
          <a href={link}>{title}</a>
        </li>
      ))
    }
  </ul>
</nav>
