---
const pathname = Astro.url.pathname
---

<nav>
  <ul class="flex gap-4">
    <a
      class={pathname === "/"
        ? "text-cyan-300"
        : "hover:text-cyan-300 transition duration-300"}
      href="/">Inicio</a
    >
    <a
      class={pathname === "/proyectos"
        ? "text-cyan-300"
        : "hover:text-cyan-300 transition duration-300"}
      href="/proyectos">Proyectos</a
    >
    <a
      class={pathname === "/experiencia-laboral"
        ? "text-cyan-300"
        : "hover:text-cyan-300 transition duration-300"}
      href="/experiencia-laboral">Experiencia</a
    >
  </ul>
</nav>
